.row{
    background-color:#E1AF39;
    align-items: center;
}

img{
    max-width: 60% !important;
    height: 40% !important;
}

h3{
    text-shadow: 4px 4px 8px #424242;
    color: white;
}

#bet{
text-shadow: 4px 4px 8px #505050;
}

.text-light{
    background-color:#262626; 
    align-items: center;
}

#win{
    text-shadow: 4px 4px 8px rgb(105, 105, 105); 
    color: #E1AF39;
}

#verify{
    text-shadow: 4px 4px 8px #505050;
}