.fondo{
    background-color:#E1AF39;
    border-radius: 30px;
}

a{
    color: black;
}
.score{
    color: #E1AF39;
    padding: 4% 0 0 5%;
}
#play{
    padding-right: 10%;
    border-right: #E1AF39 solid 1px;
}
#win{
    padding-right: 10%;
    padding-left: 10%;
    border-right: #E1AF39 solid 1px;
}
#loss{
    padding-left: 10%
}