.contain{
    background-color:#E1AF39; 
    border-top-right-radius: 15px; 
    border-top-left-radius: 15px;
}

h2{
    text-shadow: 4px 4px 12px #505050; 
    font-size: 50px;
}

h5{
    text-shadow: 2px 1px 8px #424242;
    color: black;
}

.form{
    background-color:#E1AF39; 
    border-bottom-right-radius: 15px; 
    border-bottom-left-radius: 15px;
}

input{
    font-size: 24px;
    box-shadow: 3px 3px 5px rgba(102, 102, 102, 0.527);
}

button{
    color: #E1AF39; 
    font-size: 25px;
}
a{
color: black;
}